*{
    text-decoration: none;
    margin:0;
    padding:0;
    box-sizing: border-box;
    @font-face {
        font-family: abhayalibre;
        src: url(https://fonts.google.com/specimen/Abhaya+Libre);
    }

    color: black;
}
.navbar-brand{
   color: green;
   font-size: 31px;
   margin: 10px;
}
form{ 
    padding: 10px;
}