{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript"
    src="http://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>
  <nav class="navbarbg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'polinomio2' %}">
        <img src="https://cdn.pixabay.com/photo/2012/04/13/00/21/plus-31216_640.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        SolucoesMatematicas
      </a>
    </div>
  </nav>
</head>
<body>
    <form action="{%  url 'teoch' %}" method="POST">{% csrf_token %}
      {% if verificacao %}
      {% for i in l3 %}
      <input name={{forloop.counter0}} placeholder="{{i.0}}" value="{{i.0}}"> $$x \equiv $$ <input name={{forloop.counter0}} placeholder="{{i.1}}" value="{{i.1}}"> $$ mod $$ <input name={{forloop.counter0}} placeholder="{{i.2}}" value="{{i.2}}">
      {% endfor %}
      <input type="submit" value="+" name="+">
      {% if v %}
    <input type="submit" value="-" name="-">
    {% endif %}
    <input type="submit" value="Enviar" name="Enviar">
      {% else %}
      {% for i in m %}
      <input name={{i}}> $$x \equiv $$ <input name={{i}}> $$ mod $$ <input name={{i}}>
    {% endfor %}
    <input type="submit" value="+" name="+">
    {% if v %}
    <input type="submit" value="-" name="-">
    {% endif %}
    <input type="submit" value="Enviar" name="Enviar">
    </form>
    {% if e %}
  $$ x = {{l}} $$
  $$ k \in \mathbb{Z} $$
  {% endif %}
{% endif %}
</body>
</html>